<div class="row mt-1">
    <div class="col-md-1">
      <img width="32px" height="32px" src="https://avatars0.githubusercontent.com/u/40772974?s=64&v=4" 
      alt="" srcset=""></div>
    <div class="col-md-11">
      <div class="row">checo612 pushed to checo612/Rutas 21 hours ago</div>
      <div class="row border p-4">
          4 commits to <a class="text-primary float-right ml-1">developer</a>
          @checo612
          01dcc34
          Agrege una caja de texto para el numero de productos que compraras
          @checo612
          70fa63f
          arregle el navbar
          2 more commits »
      </div>
    </div>
  </div>
  <hr>