<div class="row mt-5 bg-light p-2 border">
  <div class="col-md-6">
      <h5>Repositories</h5>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-success float-right btn-sm ml-5">New repository</button>
  </div>
  
  
  
</div>
<div class="row border">
    <form class="form-inline mx-auto mt-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="mt-2">
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
      <li><i class="fas fa-atlas"></i><a href="#" class="text-primary ml-1">Proyecto</a></li>
    </ul>
    
</div>