<div class="container">
  <div class="row mt-2 p-2">
    <div class="col-md-3">
      <app-repos></app-repos>
    </div>
    <div class="col-md-9">
      <div class="row mt-5 p-2">
        <div class="col-md-6">Browse activity</div>
        <div class="col-md-6"><a class="text-primary float-right">Discover repositories</a></div>
      </div>
      <hr>
      <app-activity></app-activity>
      <app-activity></app-activity>
      <app-activity></app-activity>
      <app-activity></app-activity>
    </div>
  </div>
</div>